// Define variables for your color scheme

// Color Scheme Semiotics:
  // Alert Color
  $red: #FF2828;
  $violet: #806CFF;
  // Tarot Colors
  $pink: #FAB8D8;
  $green: #006464;
  // Astrology Colors
  $yellow: #E2FF9C;
  $blue: #3C7FFF;
  // HumanDesign Colors
  $gray: #EBEBEB;
  $orange: #FF5C31;
  // Background
  $background: #FFE1EE;
  $black: black;
