<!-- Video section -->
<div class="video_container">
  <%= video_tag "semiotics_homescreen_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>


<!-- Intro section -->
<div class="intro_container">
  <h1>Welcome to s-e-m-i-o-t-i-c-s. One place for all things magical. Here we combine astrology, human design, and tarot to give a broader insight and assist at unlocking new potentials.</h1>
</div>

<!-- Profile section -->
<div class="profile_container">
  <div class="left-section">
    <%= image_tag "221219_Sculpture1.jpg", alt: 'Picture' %>
  </div>

  <div class="right-section">
    <h2>What is <br> s-e-m-i-o-t-i-c-s?</h2>
    <p>S-E-M-I-O-T-I-C-S comes from the term semiology.
    A science that focuses on the sign processes of cultures and nature.
    When interpreting charts, we interpret and react to the signs and arrangements too.
    Human Design, Astrology and Tarot are systems, which can offer access to personal aspects
    and allow individual themes to be visualised more precisely. What is important to me is
    the heterarchical exchange in order to distance oneself from dogmatic prophecies and to
    offer space for ambiguity, chaos and intuition.</p>
    <p>S-E-M-I-O-T-I-C-S is the modern, feminist interpretation of Astrology, Human Design
    and Tarot to unlock potentials and to serve as a mirror and support in personal development processes.</p>
    <p>Here we separate into themes and concepts, that we will look at together through the
    lense of all three concepts, human design, astrology and tarot. This gives a broader context
    and allows intuitive impulses to float into our conversation.</p>
  </div>
</div>


<!-- Topic Carousel section -->
<div class="carousel-container">
  <h2>Start here <i class="bi bi-arrow-right"></i> <br>What area do you want to deep dive in?</h2>
  <div class="carousel">
    <div class="card">
      <% @topics.each do |topic| %>
        <div class="card">
          <div class="front"><%= topic.name %></div>
          <div class="back"><%= topic.summary %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
