<!-- Video section -->
<div class="video_container">
  <%= video_tag "semiotics_homescreen_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>


<!-- Intro section -->
<section class="intro">
  <div class="intro_text">
    <h1>Welcome to s-e-m-i-o-t-i-c-s. One place for all things magical. Here we combine astrology, human design, and tarot to give a broader insight and assist at unlocking new potentials.</h1>
  </div>
</section>
