.simple-calendar {
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  padding: 10px;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-style: none;
    box-sizing: border-box;
  }

  tr {
    font-size: 12pt;
    display: flex;
    // flex-flow: row wrap;
    justify-content: space-between;
  }

  td {
    padding: 3px;
    aspect-ratio: 1/ 1;
    border-style: none;
    border-radius: 50%;
    width: auto;
  }

  .calendar-title {
    font-size: 12pt;
    margin-bottom: 0px;
    // margin-left: 3pt;
    // margin-right: 3pt;
  }

  .day {
    font-size: 12pt;
    height: 25pt;
    margin-bottom: 3pt;
    text-align: center;
    vertical-align: middle;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: 2px solid black;
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color: black;
    background-color: rgb(234, 233, 233);
    ;
  }
  .next-month {
    color: black;
    background-color: rgb(234, 233, 233);
    ;
  }
  .current-month {}

  .has-events {}
}



// Button Design for Calendar
.btn-calendar {
  width: 60pt;
  padding: 5px;
  font-size: 14pt;
  font-weight: lighter;
  margin-left: 0pt;
  margin-right: 0pt;
  border: none;

  &:active {
    background-color: $background;
    border: none;
  }
}
